:root {
	--bg: #3C465C;
	--primary: #AD04B2;
	--solid: #fff;
	--btn-w: 10em;
	--dot-w: calc(var(--btn-w)*.2);
	--tr-X: calc(var(--btn-w) - var(--dot-w));
}

@font-face {
	font-family: 'Venus';
	font-style: normal;
	font-weight: normal;
	src: local('Venus'), url("../fuentes/venus_rising/venus.woff") format('woff');
}

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: black;
	color: white;
}

.cabecera {
	display: flex;
	flex-direction: column;
}

.logo {
	width: 300px;
}

.logo>img {
	height: 60px;
	margin: 5px;
}

.navegador {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	background: #222a3a;
	width: 100%;
	position: fixed;
	z-index: 1;
	border-bottom: 3px solid #AD04B2;
}

.menu {
	padding-right: 2rem;
}

.navegador .menu .menu-lista {
	display: flex;
}

.navegador .menu .menu-lista .menu-item {
	list-style: none;
}

.navegador .menu .menu-lista .menu-item .menu-link {
	font-size: 12px;
	font-weight: bold;
	font-family: "venus";
	margin-right: 1.25rem;
	text-decoration: none;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 1);
	text-overflow: clip;
	white-space: pre;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.navegador .menu .menu-lista .menu-item .menu-link:active {
	border: 1px #b6acb7;
	border-radius: 60px;
	border-style: outset;
	padding: 3px;
}

.navegador .menu .menu-lista .menu-item .menu-link:hover {
	text-shadow: 0 0 10px #AD04B2, 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #AD04B2, 0 0 70px #AD04B2, 0 0 80px #AD04B2, 0 0 100px #AD04B2;
}

.banner {
	background: url("../img/banner.png") no-repeat center/cover;
	height: calc(100vh - 17px);
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.nosotros {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3rem;
	height: 100vh;
}

.about_hist {
	width: 50%;
	padding: 3rem;
}

.sec_title {
	padding: 2rem;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'Venus';
}

.text_h {
	font-size: 20px;
	line-height: 25px;
	text-align: justify;
}

.text_h>p {
	padding-bottom: 1em;
	font-family: 'Rajdhani', sans-serif;
}

.about_img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
}

.about_img>img {
	width: 95%;
	border-radius: 20px;
	border: 0 0 1px 1px solid #AD04B2;
	box-shadow: 3px 3px 10px 7px rgba(236, 5, 236, 0.278)
}

.proyectos {
	display: flex;
	flex-direction: column;
	background: url("../img/proyecto.jpg ") no-repeat center/cover;
	width: 100%;
	height: 100vh
}

.titulo_p {
	display: flex;
	justify-content: center;
	padding: 10px 0;
	width: 70%;
	margin: 0 auto;
	border-radius: 0 0 50px 50px;
	background: rgba(0, 0, 0, 0.736);
}

.t_prin {
	border-color: #AD04B2;
	font-family: 'Venus';
	font-weight: bold;
	font-size: 30px;
}

.content_p {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 2rem;

}

.tarjeta {
	max-width: 290px;
	background: #000000b5;
	border-radius: 25px;
	margin: 1rem;
	box-shadow: 0 0 12px #AD04B2;
}

.tarjeta>img {
	max-width: 100%;
}

.head_tj>img {
	border-radius: 25px 25px 0 0;
	max-height: 200px;
	height: 170px;
	width: 100%;
}

.footer_tj {
	padding: 0 1rem;
}

.tex_tj {
	padding: 10px;
}

.tex_tj>h3 {
	font-family: "venus";
	font-size: 18px;
	padding: 3px;
}

.tex_tj>p {
	font-family: 'Rajdhani', sans-serif;
	padding: 8px;
	margin-top: 5px;
	background: rgba(0, 0, 0, 0.541);
}

.btn {
	font-family: "venus";
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: #e74c3c;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	font-weight: 400;
	line-height: 1;
	margin: 20px auto;
	padding: 0.5em 2em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: "venus";
	font-weight: 500;
}

.btn:hover,
.btn:focus {
	color: #fff;
	outline: 0;
}

.third {
	border-color: #AD04B2;
	color: #fff;
	box-shadow: 0 0 40px 40px #AD04B2 inset, 0 0 0 0 #AD04B2;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.third:hover {
	box-shadow: 0 0 10px 0 #AD04B2 inset, 0 0 10px 4px #AD04B2;
}

.equipo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
}

.per_eq {
	display: flex;
	flex-direction: row;
	margin: 30px;

}

.team-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.team-member {
	margin: 20px;
	text-align: center;
}

.team-member img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.team-member h3 {
	margin-top: 10px;
	font-size: 20px;
}

.social-links {
	margin-top: 10px;
}

.social-links a {
	display: inline-block;
	margin: 0 10px;
	font-size: 25px;
}

@media screen and (max-width: 768px) {
	.team-member img {
		width: 150px;
		height: 150px;
	}

	.team-member h3 {
		font-size: 18px;
	}

	.social-links a {
		font-size: 20px;
	}
}

.bn-contact {
	width: 100%;
}

.bn-contact>img {
	width: 100%;
}
.final > p {
	padding: 10px;
    background: white;
    color: black;
    text-align: center;
}